[submodule "vim/pack/plugins/start/vim-polyglot"]
	path = vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/ctrlp.vim"]
	path = vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/plugins/start/vim-sensible"]
	path = vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/pack/plugins/start/lexima.vim"]
	path = vim/pack/plugins/start/lexima.vim
	url = https://github.com/cohama/lexima.vim.git
[submodule "vim/pack/plugins/start/vim-obsession"]
	path = vim/pack/plugins/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/pack/plugins/start/vim-tmux-navigator"]
	path = vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "vim/pack/plugins/start/goyo.vim"]
	path = vim/pack/plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/pack/plugins/start/limelight.vim"]
	path = vim/pack/plugins/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "vim/pack/themes/start/dracula"]
	path = vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/plugins/start/vim-vinegar"]
	path = vim/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/hlissner/doom-emacs.git
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
